body {
background-color: goldenrod;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

/*h1,
h4 {
text-align: center;
}*/

p{
    color: black;
    text-shadow: .5px .5px white;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;

}

h4 {
    font-size: medium;
    /*margin-top: -.5rem;*/
}
/*#timer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: peachpuff;
    color: black;
    font-size: medium;
    text-shadow: .2px .2px black;
    text-align: center;
}*/

.container {
    width: 75vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}
/*display: flex;*/

button {
    display: inline-block;
    font-family: sans-serif;
    background-color:rgb(52, 52, 77);
    border-radius: 10px;
    border: 3px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    margin-top: 3px;
}

button:hover{
    box-shadow: 4px 3px 6px rgb(50, 50, 75);
}

#timer{
    font-family: sans-serif;
    background-color:rgb(134, 3, 80);
    color: #eeeeee;
    font-size: x-large;
    text-shadow: .5px .5px black;
    text-align: center;
}

#highscoreContainer{
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;


}

#highscore-initials{
    display: inline-block;
    padding-left: 15 rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    
}

#highscore-score{
    display: inline-block;
    /*float: right;*/
    padding-right: 16 rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}

#start-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameover {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#initials{
    margin: .5rem;
    height: 1.75rem;
    justify-content: space-around;
    background-color:white;
    margin-bottom: .5rem;
    text-align: center;
}

#finalScore{
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

input{
    text-align: center;
}

#highScore{
    height: 1.5rem;
    border: groove 2px;
}

#high-scorePage{
    width: 75%;
    border: solid;
    border-color: silver;
    border-bottom-style: groove;
    padding-bottom: 3rem;
    /*background: rgb(52, 52, 77)*/
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    
}


#highscore-header{
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color:rgb(52, 52, 77);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: center;
}

li{
    padding-bottom: 3px;
    color: white;
    text-shadow: 1.5px 1px 3px grey;
    list-style-type: none;
    display: flex;
    text-align: center;
    /*background-color: rgb(52, 52, 77);*/
}

