body {
background-color: peachpuff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

/*h1,
h4 {
text-align: center;
}*/

h4 {
    font-size: medium;
}
#timer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: peachpuff;
    color: black;
    font-size: medium;
    text-shadow: .2px .2px black;
    text-align: center;
}

.container {
    width: 75vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}
/*display: flex;*/